<nav class="top-navbar">
  <div class="corner-section">
    <div class="icon">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="main-section">
    <div class="search-section">
      <a><i class="fa fa-search" aria-hidden="true"></i></a
      ><label>Search</label>
    </div>
    <div class="right-section">
      <p>ENG</p>

      <div class="message-icon">
        <i class="fa-regular fa-message"></i>
        <div class="circular-dot"></div>
      </div>
      <div class="bell-icon">
        <i class="fa-regular fa-bell"></i>
        <div class="circular-dot"></div>
      </div>
      <img src="/src/assets/images/image.jpg" alt="Profile Picture" />

      <p>Carmile Steversion</p>
    </div>
  </div>
</nav>
