$color-1: #fcfcfd;
$color-2: #506ddf;
$color-3: #d0d2d9;
$color-4: #000000;
$color-5: #aaacbd;
$color-6: #74819b;
$color-7: #ffffff;
$color-8: #f4f7fc;
$color-9: #d2d6db;
$color-10: #91959f;
$color-11: #888c96;
$color-12: #bcbec7;
$color-14: #ea576c;
$color-15: #33ce75;
$color-16: #7481a0;
